.page-header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

    .hide {
        display: none;
    }

    .user-menu{  
        justify-content: right;

        li{
            list-style: none;
            cursor: pointer;
            text-align: right;
        }

        .user-icon{
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

        }

    }

}

