.search-and-additem-bar{
    display: flex;
    justify-content: space-between;

}

.add-item{
    cursor: pointer;
}

.item-icons{
    display: flex;
    flex-wrap: wrap;
}

.item-icon{
    cursor: pointer;
    height: 21vw;
    width: 21 vw;
    img{
        height: 15vw;
        width: 16vw;
    }
}

.item-name{
    text-align: center;
}